<div style="padding:30px;background-color: darkslategray">
{{#if hasBlock}}
This is block component
{{yield}}
Component 3

{{else}}

<h3>Component 3</h3>

{{mn-component-2  componentThreeAction=(action parentComponent3Action) }}

{{/if}}

</div>